@{
    var isAuthenticated = (bool)ViewData["IsAuthenticated"];
    var userFactoryId = (int?)ViewData["UserFactoryId"];
    var userShopId = (int?)ViewData["UserShopId"];
    var userTruckId = (int?)ViewData["UserTruckId"];
}

<h1>Главная страница</h1>

@if (!isAuthenticated)
{
    <p>Пройдите решистрацию и войдите в систему, чтобы пользоваться приложением.</p>
}
else
{
    @if (User.IsInRole("FactoryOwner"))
    {
        <form action="@Url.Action("Products", "Factory", new { id = userFactoryId.Value })" method="get">
            <button type="submit" class="btn btn-primary">Товары Вашей фабрики</button>
        </form>
    }

    @if (User.IsInRole("ShopOwner"))
    {
        <form action="@Url.Action("Products", "Shop", new { id = userShopId.Value })" method="get">
            <button type="submit" class="btn btn-primary">Товары Вашего магазина</button>
        </form>
    }

    @if (User.IsInRole("Driver"))
    {
        <form action="@Url.Action("Products", "Truck", new { truckId = userTruckId.Value })" method="get">
            <button type="submit" class="btn btn-primary">Загруженные товары Вашего грузовика</button>
        </form>
    }

    @if (User.IsInRole("Admin"))
    {
        <form action="@Url.Action("GiveUserAdminRole", "Role")" method="get">
            <button type="submit" class="btn btn-primary">Дать пользователю роль Администратора</button>
        </form>
    }

    <form action="@Url.Action("AddRole", "Role")" method="get">
        <button type="submit" class="btn btn-secondary">Добавить роль</button>
    </form>

    @if (User.IsInRole("ShopOwner") || User.IsInRole("Admin"))
    {
        <form action="@Url.Action("Index", "Shop")" method="get">
            <button type="submit" class="btn btn-secondary">Магазины</button>
        </form>
    }

    @if (User.IsInRole("FactoryOwner") || User.IsInRole("ShopOwner") || User.IsInRole("Admin"))
    {
        <form action="@Url.Action("Index", "Factory")" method="get">
            <button type="submit" class="btn btn-secondary">Фабрики</button>
        </form>
    }
    @if (User.IsInRole("Admin"))
    {
        <form action="@Url.Action("Index", "Truck")" method="get">
            <button type="submit" class="btn btn-secondary">Грузовики</button>
        </form>
    }
    @if (User.IsInRole("Admin"))
    {
        <form action="@Url.Action("Index", "Product")" method="get">
            <button type="submit" class="btn btn-secondary">Товары</button>
        </form>
    }
    @if (User.IsInRole("Driver") || User.IsInRole("Admin"))
    {
        <form action="@Url.Action("Index", "OrderedProduct")" method="get">
            <button type="submit" class="btn btn-secondary">Заказанные товары</button>
        </form>
    }
    @if (User.IsInRole("Admin"))
    {
        <form action="@Url.Action("Index", "LoadedProduct")" method="get">
            <button type="submit" class="btn btn-secondary">Загруженные в грузовики товары</button>
        </form>
    }
}
