@{
    var isAuthenticated = (bool)ViewData["IsAuthenticated"];
    var userFactoryId = (int?)ViewData["UserFactoryId"];
    var userShopId = (int?)ViewData["UserShopId"];
    var userTruckId = (int?)ViewData["UserTruckId"];
}

<h1>Главная страница</h1>

@if (!isAuthenticated)
{
    <p>Пройдите решистрацию и войдите в систему, чтобы пользоваться приложением.</p>
}
else
{
    @if (User.IsInRole("FactoryOwner"))
    {
        <p><a href="@Url.Action("Products", "Factory", new { id = userFactoryId.Value })">Продукты Вашей фабрики</a></p>
    }

    @if (User.IsInRole("ShopOwner"))
    {
        <p><a href="@Url.Action("Products", "Shop", new { id = userShopId.Value })">Продукты Вашего магазина</a></p>
    }

    @if (User.IsInRole("Driver"))
    {
        <p><a href="@Url.Action("Products", "Truck", new { truckId = userTruckId.Value })">Загруженные продукты Вашего грузовика</a></p>
    }

    <p>---</p>

    <p><a href="@Url.Action("AddRole", "Role")">Назначить роль</a></p>

    @if (User.IsInRole("ShopOwner") || User.IsInRole("Admin"))
    {
        <p><a href="@Url.Action("Index", "Shop")">Магазины</a></p>
    }

    @if (User.IsInRole("FactoryOwner") || User.IsInRole("ShopOwner") || User.IsInRole("Admin"))
    {
        <p><a href="@Url.Action("Index", "Factory")">Фабрики</a></p>
    }
    @if (User.IsInRole("Admin"))
    {
        <p><a href="@Url.Action("Index", "Truck")">Грузовики</a></p>
    }
    @if (User.IsInRole("Admin"))
    {
        <p><a href="@Url.Action("Index", "Product")">Продукты</a></p>
    }
    @if (User.IsInRole("Driver") || User.IsInRole("Admin"))
    {
        <p><a href="@Url.Action("Index", "OrderedProduct")">Заказанные продукты</a></p>
    }
    @if (User.IsInRole("Admin"))
    {
        <p><a href="@Url.Action("Index", "LoadedProduct")">Загруженные в грузовики продукты</a></p>
    }
}
