@model LogisticsApp.Models.ShopIndexViewModel

@{
    ViewData["Title"] = "Магазины";
}

<h1>Магазины</h1>

<ul class="list-group">
    @foreach (var shop in Model.Shops)
    {
        <li class="list-group-item">
            <a href="@Url.Action("Products", "Shop", new { id = shop.Id })">
                @shop.Title
            </a> - Владелец магазина: @shop.PortalUser.UserName

            <a href="@Url.Action("Update", "Shop", new { id = shop.Id })" class="btn btn-warning btn-sm ml-2">Редактировать</a>
            <a href="@Url.Action("Delete", "Shop", new { id = shop.Id })" class="btn btn-danger btn-sm ml-2">Удалить</a>
        </li>
    }
</ul>

@if (Model.ShowAddShopForm)
{
    <h2>Добавить новый магазин</h2>

    <form asp-action="Create" method="get">
        <button type="submit" class="btn btn-primary">Перейти к добавлению магазина</button>
    </form>
}
