@model LogisticsApp.Models.FactoryOwnerViewModel

@{
    ViewData["Title"] = "Товары фабрики: " + Model.Factory.Title;
}

<h1>Товары фабрики: @Model.Factory.Title</h1>

@if (Model.Factory.PortalUserId == Model.CurrentUserId)
{
    <div>
        <a href="@Url.Action("ProduceNewProduct", "Factory", new { factoryId = Model.Factory.Id })" class="btn btn-success mb-3">Произвести новый товар</a>
    </div>
}

@if (User.IsInRole("Admin"))
{
    <div>
        <a href="@Url.Action("AddProduct", "Factory", new { factoryId = Model.Factory.Id })" class="btn btn-primary mb-3">Добавить товар</a>
    </div>
}

@if (Model.Factory.FactoryProducts.Any())
{
    <ul class="list-group">
        @foreach (var factoryProduct in Model.Factory.FactoryProducts)
        {
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="@Url.Action("ProductDetails", "Factory", new { factoryId = Model.Factory.Id, productId = factoryProduct.Product.Id })">
                    @factoryProduct.Product.Title
                </a> - Количество: @factoryProduct.Quantity

                <div>
                    <a href="@Url.Action("UpdateProduct", "Factory", new { factoryId = Model.Factory.Id, productId = factoryProduct.Product.Id })" class="btn btn-warning btn-sm">Изменить количество</a>
                    <a href="@Url.Action("DeleteProduct", "Factory", new { factoryId = Model.Factory.Id, productId = factoryProduct.Product.Id })" class="btn btn-danger btn-sm">Удалить</a>

                    @if (User.IsInRole("ShopOwner"))
                    {
                        <a href="@Url.Action("Order", "Factory", new { factoryId = Model.Factory.Id, productId = factoryProduct.Product.Id })" class="btn btn-success btn-sm ml-2">Заказать</a>
                    }

                    @if (Model.Factory.PortalUserId == Model.CurrentUserId)
                    {
                        <a href="@Url.Action("Produce", "Factory", new { factoryId = Model.Factory.Id, productId = factoryProduct.Product.Id })" class="btn btn-success btn-sm">Произвести</a>
                    }
                </div>
            </li>
        }
    </ul>
}
else
{
    <p>На этой фабрике пока нет товаров.</p>
}

<div>
    <a href="@Url.Action("Index", "Factory")">Вернуться к списку фабрик</a>
</div>
