@model IEnumerable<LogisticsApp.Models.OrderedProductViewModel>

@using System.Security.Claims


@{
    ViewData["Title"] = "Заказанные товары";
}

<h1>Заказанные товары</h1>

@if (Model.Any())
{
    <ul class="list-group">
        @foreach (var item in Model)
        {
            <li class="list-group-item">
                <a href="@Url.Action("ProductDetails", "OrderedProduct", new { id = item.Id })">
                    @item.ProductName - @item.ShopName - Количество: @item.Quantity
                </a>

                @if (User.IsInRole("Driver"))
                {
                    @if (item.Quantity != 0)
                    {
                        <a href="@Url.Action("LoadProduct", "OrderedProduct", new { orderedProductId = item.Id })" class="btn btn-primary btn-sm">Погрузить</a>
                    }
                }
            </li>
        }
    </ul>
}
else
{
    <p>Нет заказанных товаров.</p>
}
