@model LogisticsApp.Models.OrderedProduct

@{
    ViewData["Title"] = "Детали заказанного товара";
}

<h1>Детали товара: @Model.FactoryProduct.Product.Title</h1>

<div>
    <p><strong>Название:</strong> @Model.FactoryProduct.Product.Title</p>
    <p><strong>Магазин:</strong> @Model.Shop.Title</p>
    <p><strong>Количество:</strong> @Model.Quantity</p>
</div>

<div>
    <a href="@Url.Action("Index", "OrderedProduct")" class="btn btn-secondary">Назад к списку заказанных товаров</a>
</div>
