@model LogisticsApp.Models.TruckOwnerViewModel

@{
    ViewData["Title"] = "Товары грузовика: " + Model.Truck.Brand + Model.Truck.Model + Model.Truck.StateNumber;
}

<h1>Товары грузовика: @Model.Truck.Brand @Model.Truck.Model @Model.Truck.StateNumber</h1>

@if (Model.Truck.LoadedProducts.Any())
{
    <ul class="list-group">
        @foreach (var loadedProduct in Model.Truck.LoadedProducts)
        {
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="@Url.Action("ProductDetails", "Truck", new { truckId = Model.Truck.Id, productId = loadedProduct.OrderedProduct.FactoryProduct.Product.Id })">
                    @loadedProduct.OrderedProduct.FactoryProduct.Product.Title
                </a> - Количество: @loadedProduct.Quantity
            </li>
        }
    </ul>
    @if (Model.Truck.PortalUserId == Model.CurrentUserId)
    {
        <form method="post" asp-action="DeliverProducts" asp-route-truckId="@Model.Truck.Id">
            <button type="submit" class="btn btn-danger mt-3">Отвезти товары по магазинам</button>
        </form>
    }
}
else
{
    <p>В этом грузовике пока нет товаров.</p>
}

<div>
    <a href="@Url.Action("Index", "Truck")">Вернуться к списку грузовиков</a>
</div>
