@model IEnumerable<LogisticsApp.Models.Product>

@{
    ViewData["Title"] = "Товары";
}

<h1>Товары</h1>

<ul class="list-group">
    @foreach (var product in Model)
    {
        <li class="list-group-item">
            <a href="@Url.Action("Details", "Product", new { productId = product.Id })">
                @product.Title
            </a> - Масса: @product.Mass кг, Объем: @product.Volume м³

            <a href="@Url.Action("Update", "Product", new { id = product.Id })" class="btn btn-warning btn-sm ml-2">Редактировать</a>
            <a href="@Url.Action("Delete", "Product", new { id = product.Id })" class="btn btn-danger btn-sm ml-2">Удалить</a>
        </li>
    }
</ul>

@if (User.IsInRole("Admin"))
{
    <h2>Добавить новый товар</h2>

    <a href="@Url.Action("Create", "Product")" class="btn btn-primary">Перейти к добавлению товара</a>
}
